<div class="sticky top-0 z-10 bg-(--mat-sys-surface) px-4 pb-6">
  <app-search class="grow block" placeholder="Search tasks..." [debounceMs]="300" (search)="onSearch($event)" />
  <button matButton="filled" class="w-full" (click)="openCreateDialog()">Add Task</button>
</div>

<ul class="space-y-4 px-4 pb-4">
  @for (task of tasksService.tasks(); track task.id) {
  <li>
    @defer (on viewport) {
    <app-task-card class="w-full" [task]="task" />
    } @placeholder {
    <div class="h-32 bg-gray-100 rounded-lg animate-pulse"></div>
    }
  </li>
  } @empty {
  @if (!tasksService.isLoading()) {
  <li class="text-center py-12 text-(--mat-sys-secondary)">
    No tasks found.
  </li>
  }
  }
</ul>

@if (tasksService.isLoading()) {
<div class="flex justify-center p-8">
  <mat-spinner diameter="40"></mat-spinner>
</div>
}

@if (tasksService.hasMore()) {
<div #scrollTrigger class="h-10 flex justify-center items-center">
  <span class="text-sm text-(--mat-sys-secondary)">Loading more...</span>
</div>
}